body{
    /*background-color: beige;*/
    background-image: url("../assets/bg.png");

}

#main-container{
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#controller{
    width: 22.05rem;
}

#controller table{
    width: 62%;

}

#controller table,td{
    /*border: 1px solid black;*/
    text-align: -webkit-center;
    margin: auto;
}

#controller td{
    padding-bottom: 1rem;
}

#title{
    padding-left: 2rem;
    background: rgba(39, 156, 219, 0.42);
    /*background: linear-gradient(180deg, rgba(39,156,219,0.4414216370141807) 0%, rgba(163,223,240,0.4638306005996149) 80%);*/
    /*border-bottom: 2px solid lightskyblue;*/
    text-align: left;
    font-size: 4.5rem;
    font-family: 'Pixelify Sans', sans-serif;
}

.sub-title{
    margin: auto;
    text-align: center;
    font-size: 3rem;
    font-family: 'Pixelify Sans', sans-serif;
}

#controls{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    margin: 3rem auto;
    margin-bottom: 0rem;
    width: 30vw;

}

#upload{
    display: flex;
    justify-content: center;
    width: 0;
    margin: auto;
    /*align-items: center;*/
}



#submit-audio{
    padding: 1rem;
    /*height: fit-content;*/
    /*margin-left: 2rem;*/
}

#choose-file-label{
    /*height: fit-content;*/
    padding: 1rem;
    background-color: #acacac;
    color: whitesmoke;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.fa-paperclip{
    font-size: 3rem;
}

.fa-file-arrow-up{
    font-size: 3rem;
}

#sound-clip{
    display: block;
    height: fit-content;
}

.control-button{
    margin: auto 1rem;
    height: 100px;
    width: 75px;
}

.fa-microphone{
    font-size: 3rem;
}

.fa-stop{
    font-size: 3rem;
    color: whitesmoke;
}

#audio-player{
    display: flex;
    justify-content: center;
    padding: 1rem;
    min-height: 2rem;
}

#time{
    font-size: 1.5rem;
    font-family: 'Pixelify Sans', sans-serif;
}

#function-controls{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    width: 30vw;
}

#transcribe{
    padding: 0.5rem 1.75rem;
    height: fit-content;
    font-size: 1.5rem;
    background-color: black;
}

#summary{
    padding: 0.5rem 1.75rem;
    height: fit-content;
    font-size: 1.5rem;
    background-color: black;
}

#transcribed-text, #summarized-text{
    width: 30rem;
}

.text-content{
    width: 100%;
    height: 80%;
    margin: 2rem auto;
    /*padding: 1rem;*/
    border: 1px solid rgba(245, 245, 245, 0.25);
    /*margin-top: 2rem;*/

}

.text-box{
    margin: auto;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.37);
    font-size: 1.25rem;
    border-radius: 0.75rem;
    padding: 0.5rem;
}

.text-box::placeholder{
    color: whitesmoke;
}